@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Protest+Strike&family=Rubik+Moonrocks&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: #1f2235;
}

.nav-link {
  color: white;
}

.main_title {
  color: white;
}

.header {
  margin-bottom: 60px;
}

.main_img {
  /* border-radius: 50%; */
  /* background-color: red; */
  background-image: url("../img/Ellipse\ 2.png");
  background-repeat: no-repeat;
  /* max-width: 100%; */
  background-position: center;
  background-size: contain;
  /* background-attachment: fixed; */
}

section {
  margin: 60px 0;
}

#about {
  width: 150px;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
}

.portfolio_list {
  justify-content: space-between;
}
.portfolio_list_item .card-img {
  position: relative;
  /* pos */
}

.portfolio_list_item .card-img:hover::before {
  content: "";
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

#portfolio-add:hover,
#portfolio-link:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* portfolio-view */

#resume {
  width: 150px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
}

.contact-box {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 10px;
  background: rgb(36, 38, 59);
  margin-bottom: 20px;
}

.send-msg {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 10px;
  width: 48%;
  background: rgb(36, 38, 59);
}

@media only screen and (max-width: 576px) {
  .send-msg {
    width: 100%;
  }
}

textarea {
  /* bg */
  /* position: absolute; */
  /* width: 700px;
  height: 210px;
  left: 845px;
  top: 7190px; */

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 98.5%;
  height: 200px;
  padding: 10px 0 0 10px;
  background: rgb(36, 38, 59);
}

#about_my_img {
  position: absolute;
  top: -15px;
  left: 15%;
  width: 300px;
  z-index: 0;
}
/* 
@media only screen and (max-width: 500px) {
  #about_my_img {
    position: absolute;
    top: 0px;
    left: 35%;
    width: 100px;
    z-index: 0;
  }
}

@media only screen and (max-width: 450px) {
  #about_my_img {
    position: absolute;
    top: -30px;
    left: 35%;
    width: 100px;
    z-index: 0;
  }
}

@media only screen and (max-width: 370px) {
  #about_my_img {
    position: absolute;
    top: -50px;
    left: 35%;
    width: 100px;
    z-index: 0;
  }
}

@media only screen and (max-width: 320px) {
  #about_my_img {
    position: absolute;
    top: -50px;
    left: 35%;
    width: 90px;
    z-index: 0;
  }
} */

.about_img {
  opacity: 1;
}

@media only screen and (max-width: 450px) {
  .main {
    background-image: url("../img/portfolio-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 85px;
    background-position-x: center;
  }
}
